extends layout.pug
block content
    h1 hello this is the contact page as you can see
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum veritatis enim, ab inventore amet veniam expedita cum tempore eligendi laudantium reiciendis excepturi voluptatum minus a doloribus. Nobis est odio aliquam.
