extends layout.pug
block content
    h1 welcome to the home page
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur explicabo sapiente rerum blanditiis sit perspiciatis tempora adipisci quae earum corporis. Ea vel delectus, sunt itaque aperiam iusto ex deleniti voluptatum.
    